:root {
  /*  normal color theme */
  --color-primary: #30abe8;
  --color-mono-lightest: #fbfaf9;
  --color-mono-lighter: #f2f0ed;
  --color-mono-light: #ccc5b9;
  --color-mono-dark: #56534e;
  --color-mono-darker: #22211f;
  --color-mono-darkest: #0d0d0c;
  --color-mono-yellow: #ffd13c;
  --color-mono-blue: #98c1d8;
  --color-mono-green: #5fa300;
  --color-mono-red: #eb5e27;
  /*  color theme tuned down for contrast*/
  --color-primary-down: hsl(200, 80%, 45%);
  --color-primary-down-2: hsl(200, 80%, 40%);
    --color-primary-down-3: hsl(200, 80%, 35%);
  --color-mono-lightest-down: #ebe6e0;
  --color-mono-lighter-down: #ddd8d0;
  --color-mono-light-down: #b8ae9e;
  --color-mono-dark-down: #353431;
  --color-mono-darker-down: #0d0d0c;
  --color-mono-darkest-down: #3d3d38;
  --color-mono-yellow-down: #ffc50a;
  --color-mono-blue-down: #7eb1ce;
  --color-mono-green-down: #4d8500;
  --color-mono-red-down: #d74b14;
  /* participant colors */
  --color-participant-red: #ff6d6d;
    --color-participant-orange: #ffb964;
    --color-participant-yellow: #faff76;
    --color-participant-green: #90ff7a;
    --color-participant-cyan: #5cf1ff;
    --color-participant-blue: #609dff;
    --color-participant-purple: #8771ff;
    --color-participant-pink: #ff83ff;
  --color-participant-red-down: color-mix(in srgb,
        var(--color-participant-red),
        black 20%);
    --color-participant-orange-down: color-mix(in srgb,
        var(--color-participant-orange),
        black 20%);
    --color-participant-yellow-down: color-mix(in srgb,
        var(--color-participant-yellow),
        black 20%);
    --color-participant-green-down: color-mix(in srgb,
        var(--color-participant-green),
        black 20%);
    --color-participant-cyan-down: color-mix(in srgb,
        var(--color-participant-cyan),
        black 20%);
    --color-participant-blue-down: color-mix(in srgb,
        var(--color-participant-blue),
        black 20%);
    --color-participant-purple-down: color-mix(in srgb,
        var(--color-participant-purple),
        black 20%);
    --color-participant-pink-down: color-mix(in srgb,
        var(--color-participant-pink),
        black 20%);
  /* spacings */
  --spacing-0: 0px;
  --spacing-050: 2px;
  --spacing-100: 4px;
  --spacing-150: 6px;
  --spacing-200: 8px;
  --spacing-300: 12px;
  --spacing-400: 16px;
  --spacing-600: 24px;
  --spacing-800: 32px;
  --spacing-1200: 48px;
  --spacing-2400: 96px;
  --spacing-4000: 160px;
  /* font sizes */
  --font-size-smallest: 10px;
  --font-size-smaller: 12px;
  --font-size-small: 14px;
  --font-size-regular: 16px;
  --font-size-large: 24px;
  --font-size-larger: 32px;
  --font-size-largest: 48px;
  /* weights */
  --font-weight-light: 150;
    --font-weight-medium: 400;
    --font-weight-bold: 800;
    /* radius */
    --input-radius: 8px;
  
    --input-padding-horizontal: 12px;
    --input-padding-vertical: 8px;
}

body,
body[theme="light"] {
  --mono-lightest: var(--color-mono-lightest);
  --mono-lighter: var(--color-mono-lighter);
  --mono-light: var(--color-mono-light);
  --mono-dark: var(--color-mono-dark);
  --mono-darker: var(--color-mono-darker);
  --mono-darkest: var(--color-mono-darkest);
  --mono-lightest-down: var(--color-mono-lightest-down);
  --mono-lighter-down: var(--color-mono-lighter-down);
    --mono-light-down: var(--color-mono-light-down);
    --mono-dark-down: var(--color-mono-dark-down);
    --mono-darker-down: var(--color-mono-darker-down);
    --mono-darkest-down: var(--color-mono-darkest-down);
}

body[theme="dark"] {
  --mono-lightest: var(--color-mono-darkest);
  --mono-lighter: var(--color-mono-darker);
  --mono-light: var(--color-mono-dark);
  --mono-dark: var(--color-mono-light);
  --mono-darker: var(--color-mono-lighter);
  --mono-darkest: var(--color-mono-lightest);
  --mono-lightest-down: var(--color-mono-darkest-down);
  --mono-lighter-down: var(--color-mono-darker-down);
    --mono-light-down: var(--color-mono-dark-down);
    --mono-dark-down: var(--color-mono-light-down);
    --mono-darker-down: var(--color-mono-lighter-down);
    --mono-darkest-down: var(--color-mono-lightest-down);
}

input[type="text"],
input[type="number"] {
  border-radius: var(--input-radius);
  border: solid 1px var(--mono-light);
  background-color: var(--mono-lighter);
  color: var(--mono-darker);
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
}

button {
  border-radius: var(--input-radius);
  border: solid 1px var(--mono-darker);
  background-color: var(--mono-lighter);
  color: var(--mono-darker);
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  transition: background-color 0.3s ease;
}

button:hover,
button:focus {
  background-color: var(--mono-lighter-down);
}
button.primary {
  background-color: var(--color-primary-down);
  border-color: var(--color-primary-down);
  color: var(--color-mono-lighter);
  font-weight: var(--font-size-smaller);
}
button.primary:hover,
button.primary:focus {
  background-color: var(--color-primary-down-2);
}

button.primary:active {
  background-color: var(--color-primary-down-3);
}

button:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 3px;
}

button:disabled {
  pointer-events: none;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

*:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 3px;
}